@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  font-size: 0.85rem;
}
.container{
  width: 80%;
  max-width: 1200px;
  margin: 0em auto;
  display: flex;
  align-items:baseline;
  padding:2% 0;
  transition: all 1s;
}
.column{
  transition: all 0.3s;
}
.row{
  display: flex;
  margin-top: 2.2em;  
}
.row:nth-child(2) .content{
  padding: 0.2em 0em;
  }  
.col{
  padding: 1em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin: 0em 0.5em;
  border-radius: 5px;
  transition: all 0.5s;
}
.column-1{
  width: 75%;
  }
.column-2{
  width: 25%;
}
.col-w{
width: 67.5%;
}
.col-s{
  width: 33.5%;
} 
.title{
  display: flex;
  align-items: center;  
  margin: 0em 1em;
}
.info{
  margin: 0em 1em;
}
h4{
  font-size: 1.1rem;
}

h3{
  font-size: 1.2rem;
  margin: 0.5em 0em;
}
p{
  font-size: 0.9rem;
}
.content{
  margin: 0.5em 1em;
}
img{
  border-radius: 30px;
}
.lavender{
  background: hsl(263, 55%, 51%);
  color: #fff;
}
.ash{
  background:hsl(218, 18%, 35%);
  color: #fff;
}
.black{
  background: hsl(219, 29%, 13%);
  color: #fff;
}
.lavender p,span,.ash p,span,.black p,span{
  color: hsl(240, 2%, 83%);
}

@media (max-width:1266px){
  *{
    font-size: 0.83rem;
  }
}
@media (max-width:1110px){
.container{
  flex-direction: column;
}
.column-1{
  width: 100%;
  }
.column-2{
  width: 100%;
  margin-top: 1em;
  }
  .column-2 .col,.col-w{
    padding: 2.5em 1em;
  }
}
@media (max-width:860px){
  *{
    font-size:0.78rem ;
  }
}
@media (max-width:755px){
.col-w{
    width: 57%;
    }
.col-s{
    width: 43%;
  }
}
@media (max-width:645px){
  .row{
  flex-direction: column;
  margin: 0;
  margin-right: 3.8em;
  }
  .col{
    margin: 1em 0em;
    padding: 2em 2em;
  }
.col-w,.col-s,.colum-2,.column-1,.colum-2{
    width: 100%;
    }
.column-2{
  margin: 0;
}
}
@media (max-width:380px){
  .col-s{
    padding: 3.5em 2em;
  }
}

